* {
    outline: 0px solid transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
body{
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(245,245,245,1);
    width: 100%;
    height: auto;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
a{
    text-decoration:none;
}
.weizhen_area{
    width: 100%;
}
.weizhen_menus{
    display: flex;
    justify-content: flex-end;
    width: 96%;
    max-width: 800px;
    margin-left: 2%;
}
.weizhen_menu{
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px 6px;
    color: black;
}
.weizhen_menu:hover{
    background-color: rgba(0,0,0,0.1);
}
.weizhen_menu>a{
    color: black;
}
.menu_here{
    background-color: black;
    color: white;
}
.menu_here>a{
    color: white;
}