a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
a{
    text-decoration:none;
}
.weizhen_area{
    width: 100%;
}
.weizhen_menus{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 760px;
}
.weizhen_menu{
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px 6px;
    color: black;
}
.weizhen_menu:hover{
    background-color: rgba(0,0,0,0.1);
}
.weizhen_menu>a{
    color: black;
}
.menu_here{
    background-color: black;
    color: white;
}
.menu_here>a{
    color: white;
}